<!--<ion-header color="medium">-->
<ion-toolbar color="medium">
    <ion-buttons slot="start">
        <!-- <ion-back-button  text="" defaultHref="home" class="menubutton">
          </ion-back-button> -->
        <ion-menu-button class="menubutton"></ion-menu-button>
    </ion-buttons>
    <ion-title align="center" class="titleall">App Tutorial</ion-title>
</ion-toolbar>
<!--</ion-header>-->

<ion-content padding>
    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
            <img src="assets/icon/Tutorial1.png" style="width: 90%;">

        </ion-slide>
        <ion-slide>
            <img src="assets/icon/Tutorial2.jpg" style="width: 90%;">

        </ion-slide>
        <ion-slide>
            <img src="assets/icon/Tutorial3.jpg" style="width: 90%;">

        </ion-slide>
    </ion-slides>
</ion-content>