<!--<ion-header color="medium">-->

<ion-toolbar color="medium">
  <ion-buttons slot="start">
    <!-- <ion-back-button text="" defaultHref="home" class="menubutton">
    </ion-back-button> -->
    <ion-menu-button class="menubutton"></ion-menu-button>
  </ion-buttons>
  <ion-title align="center" class="titleall">About Us</ion-title>
</ion-toolbar>
<!--</ion-header>-->

<ion-content style="text-align: justify;" padding>
  <p style="text-align: justify;" class="h5-text">Recovery Logistics is a national leader in busciness continuity and
    disaster recovery operations. We help buscinesses recover from hurricanes, winter storms,floods, labor strikes and
    other unplanned events. Our "whatever it takes" attitude earned us our reputation for getting the job done - even
    when others could not. Our clients trust us to help get their busciness back up and operating when things go wrong.
  </p>
</ion-content>