<!--<ion-header align="center" color="medium">-->
<ion-toolbar color="medium">
  <ion-buttons slot="start">
    <ion-back-button text="" defaultHref="login" class="menubutton">
    </ion-back-button>

  </ion-buttons>
  <ion-title align="center" class="titleall">Forgot Password</ion-title>
</ion-toolbar>
<!--</ion-header>-->

<ion-content align="center" class="textheading" padding>
  <img class="LogoSet" src="assets/icon/rlilogo.png" />
  <!--<div style="padding: 20px">-->
  <h4 style="font-size: 16px;font-weight: bold">Forgot Your Commander Web Credentials</h4>
  <!--</div>-->

  <ion-list>
    <form #form="ngForm" novalidate>
      <ion-item>
        <ion-label position="floating" color="medium" style="font-size: 13px">
          <ion-icon name="mail"></ion-icon>
          Badge/Email
        </ion-label>
        <ion-input type="email" name="email" [(ngModel)]="email"></ion-input>
        <!-- <ion-input type="email" name="email" [(ngModel)]="email" required pattern="[A-Za-z0-9._%+-@$/+*!#^&()=]{1,}"></ion-input> -->
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="medium" style="font-size: 13px">
          <ion-icon name="lock"></ion-icon>
          Mobile Number
        </ion-label>
        <ion-input type="tel" name="mobno" [(ngModel)]="mobno" pattern="\d*"></ion-input>
        <!-- <ion-input  type="number" name="mobno" [(ngModel)]="mobno" required pattern="[A-Za-z0-9._%+-@$/+*!#^&()=]{10,}"></ion-input> -->
      </ion-item>
      <br>
      
      <button class="buttonclass" padding="2px" align="center" (click)="resetPassword()" padding="10px"
        type="submit">Submit</button>
      <!-- <button class="buttonclass" padding="2px" align="center" [disabled]=!form.valid  (click)="resetPassword()" padding="10px" type="submit">Submit</button> -->
      <br>
      <br>
    </form>
  </ion-list>

</ion-content>