<!--<ion-header color="medium">-->
<ion-toolbar color="medium">
  <ion-buttons slot="start" style="color: black">
    <!-- <ion-back-button text="" defaultHref="home" class="menubutton">
    </ion-back-button> -->
    <ion-menu-button class="menubutton"></ion-menu-button>
  </ion-buttons>
  <ion-title align="center" class="titleall">Contact Us</ion-title>
</ion-toolbar>
<!--</ion-header>-->

<ion-content padding="=5px">
  <p class="h5-text padding">Phone: <a href=tel:919-469-4141>919-469-4141</a></p>
  <p class="h5-text padding">Email: <a href=mailto:info@recoverylogistics.net>info@recoverylogistics.net</a></p>
</ion-content>