.item-inner {
    height: 60px !important;
}
.border{
    border: 0.5px solid black;
    border-radius: 1px;
    min-height: 40px !important;
    //margin-right: 5px!important;
    //margin-left: 5px!important;
    width: 320px !important;
    margin-top: 5px;
    //margin-bottom: 5px;
    alignment: center;
}
    
.h4-text{
    font-size: 15px;
}